body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 84px 50px 97px 50px;
    background-color: white;
}

.header_menu {
    display: inline-block;
    max-width: 389px;
}

.header_links-list {
    display: flex;
    gap: 32px 33px;
    list-style-type: circle;
    font-weight: 400;
    font-size: 18px;
}

.link-active {
    text-decoration: none;
}

.link_list {
    text-decoration: none;
}

.header_logo-image {
    width: 151px;
    height: 117px;
    padding-top: 2px;
    padding-left: 4px;
}

.address {
    display: flex;
    max-width: 840px;
    font-size: 18px;
    font-style: normal;
    line-height: 24px
}

.header .address {
    padding-left: 186px;
    padding-right: 23px;
    font-weight: 400;
    font-size: 18px;
}

.cover {
    display: block;
    position: relative;
    background-image: url(../image/lotus-flower.png);
    background-repeat: none;
    background-size: cover;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    min-height: 750px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover_title {
    display: flex;
    flex-direction: column;
    padding: 157px 50px 85px;
    gap: 20px;
}

.cover_title span {
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
}

.text_cover {
    display: block;
    letter-spacing: 40px;
    left: 67px;
    gap: 20px;
}

.text_center {
    line-height: 45;
    padding-left: 331px;
}

.text_right {
    padding-left: 614px;
}
 
.cover_description {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 46px 0px 50px;
    gap: 106px;
}

.cover_text {
    font-size: 22px;
    font-weight: 400;
    word-spacing: 18px;
    text-transform: uppercase;
}

.text_cover .letter_spacing {
    letter-spacing: 30px;
    text-transform: uppercase;
}

.text_cover .no_letter_spacing {
    letter-spacing: 0px;
}

.button {
    width: 256px;
    height: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'raleway', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 1.2px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.title_lots {
    padding-top: 180px;
    padding-bottom: 25px;
    padding-left: 64px;
    color: black;
    font-size: 40px;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.container_lots {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px 4px 0px;
    gap: 25px;
    justify-content: start;
    margin: 0 auto;
    margin-left: 20px;
    font-weight: 400;
}

.card_lots {
    max-width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 40px 40px 48px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_about_film {
    background-image: url(../image/photo.png);
}

.card_about_book {
    background-image: url(../image/photo2.png);
}

.card_about_picture {
    background-image: url(../image/photo3.png);
}

.card_title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    word-spacing: 1px;
    padding-top: 8px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.link_lots {
    text-decoration: none;
}

.text_on_card {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.view_more {
    display: block;
    text-underline-offset: 3px;
    padding-top: 32px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    margin-left: 64px;
}

.about {
    margin-top: 130px;
}
 
.about_container {
    display: grid;
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 24px;
    padding: 26px 30px 0px 24px;
}

.about_logo {
    justify-self: center;
    background-image: url(../image/logo-column.png);
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
}

.title_about {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    padding-bottom: 80px;
    padding-top: 5px;
    text-transform: uppercase;
}

.about_text {
    align-self: flex-start;
    font-family: 'raleway', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_text p + p {
    margin-top: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    justify-content: center;
    padding: 182px 50px 50px;
    line-height: 24px;
}

.footer_links {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    list-style: normal;
}

.links_footer {
    list-style-type: none;
    text-decoration: none;
}

.footer_menu_links {
    list-style-type: none;
    text-underline-offset: 3px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
}

.footer_images {
    display: inline-block;
    vertical-align: middle;
}

.social_links {
    display: inline-block;
    text-decoration: none;
    margin-left: 47px;
}

.social_links li + li {
    margin-left: 43px;
}